.div {
  background: url('../public/learning.jpeg');
  background-size: cover;
  margin-top: -50px;
  height: 980px;
}
.h1,
.h2 {
  text-align: center;
}

.btncontainer {
  text-align: center;
}
.pagediv {
  background: rgba(255, 255, 255, 0.62);
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 330px;
  height: 20%;
}
