.div {
  background: url('../public/learning.jpeg');
  background-size: contain;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat-x;
}
.h1,
.h2 {
  text-align: center;
}

.btncontainer {
  text-align: center;
}
.pagediv {
  background: rgba(255, 255, 255, 0.62);
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 330px;
  height: 20%;
}
